*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container{
  text-align: center;
  max-width:80%;
  /* min-width: 60px; */
  height: 65vh;
  margin: 50px auto;
  border: 1px solid red;
  font-size: 1.2em;
  padding-top: 60px;
  background-color: rgb(211, 246, 187);
}
h1{
  font-size: 1.7em;
  color: rgb(239, 99, 12);
}
#start,#restart{
  background-color: rgb(124, 228, 124);
  font-size: 1.2em;
  padding: 8px 35px;
  border: none;
  margin-top: 15px;
  border-radius: 15px;
}
#score{
  color: rgb(255, 6, 6);
}
#restart{
  background-color: rgb(226, 151, 151);
}
#again{
  height:13% ;
}
#jokpot{
  color: rgb(165, 3, 3);
}
#h2,#h4,#h5,#score{
  margin-top: 15px;
}